<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<p>
<% if @sum == 0 || params[:keyword].blank? || !params[:keyword] %>
无搜索结果
<% else %>
有多个(<%= @sum %>)类型的搜索结果，请问你要看哪个？
<% keyword = params[:keyword] %>
<%= link_to '普通用户', '/search/user/' + URI.escape(keyword) if (@has_user > 0) %>
<%= link_to '地点', '/search/location/' + URI.escape(keyword) if (@has_location > 0) %>
<%= link_to '公共用户', '/search/public_user/' + URI.escape(keyword) if (@has_public_user > 0) %>
<%= link_to '公共群组', '/search/public_group/' + URI.escape(keyword) if @has_public_group > 0 %>
<% end %>
</p>

<p>
  <strong>热门搜索: </strong>
  <%= link_to '百年校庆', '/search/public_user/' + URI.escape('百年校庆') %>
  <%= link_to '大礼堂', '/search/location/' + URI.escape('大礼堂') %>
  <%= link_to '六教', '/search/location/' + URI.escape('六教') %>
</p>