<%= content_box '搜索结果', '' do%>
<div>
  <% for location in @locations %>
    <div class="search_item"> 
      <div>
    <%= link_to location, '/public/location/'+URI.escape(location), :class => "title_name" %>
    </div>
    <div class="snapshot_line">
      <% snapshot = @snapshots[location] %>
      <% if snapshot.nil? || snapshot.count == 0 %>
        <a>接下来没有活动了</a>
      <% else %>
        <%= link_to '近期活动:', '/public/location/'+URI.escape(location), :style => 'font-weight:bold' %>
        <% for instance in snapshot %>
          <% if instance.event.public? %>
          <b title="<%=friendly_time_range(instance.begin, instance.end)%>"><%=instance.name%></b>
          <% else %>
        <a style="font-weight:bold" title="<%= friendly_time_range(instance.begin, instance.end) %>">非公开的活动</a>
          <% end %>
        <% end %>
      <% end %>
    </div>
    </div>
  <% end %>
</div>
<%= link_to('上一页', :offset => [@offset-10, 0].max) if @offset > 0 %>
<%= link_to('下一页', :offset => @offset+10) if @locations.count > 10 %>
<% end %>
