<%= content_box '搜索结果', '' do%>
<ul>
  <% for public_group in @public_groups %>
    <div class="search_item"> 
    <li>
    <%= link_to public_group.name, '/public/group/'+public_group.id.to_s, :class => "title_name" %>
    </li>
    <li class="snapshot_line">
      <% snapshot = @snapshots[public_group.id] %>
      <% if snapshot.nil? || snapshot.count == 0 %>
        <a>接下来没有活动了</a>
      <% else %>
        <%= link_to '近期活动:', '/public/group/'+public_group.id.to_s, :style=>"font-weight:bold" %>
        <% for instance in snapshot %>
          <%= link_to instance.name, event_path(instance.event, :inst => instance.id), :title => friendly_time_range(instance.begin, instance.end) %>
        <% end %>
      <% end %>
    </li>
    </div>
  <% end %>
</ul>
<%= link_to('上一页', :offset => [@offset-10, 0].max) if @offset > 0 %>
<%= link_to('下一页', :offset => @offset+10) if @public_groups.count > 10 %>
<% end %>
