<%= content_box '搜索结果', '' do%>
<div class="search_item">
<table class="item_table">
  <% for user in @public_users[0...10] %>
    <%=  user_profile(user) %>
  <% end %>
  <tr>
    <td colspan="2">
      <div class="snapshot_line">
      <% snapshot = @snapshots[user.id] %>
      <% if snapshot.nil? || snapshot.count == 0 %>
        接下来没有活动了
      <% else %>
        <%= link_to '近期活动:', '/public/user/'+@user.id.to_s, :style=>"font-weight:bold" %>
        <% for instance in snapshot %>
          <b title="<%=friendly_time_range(instance.begin, instance.end)%>"><%=instance.name%></b>
        <% end %>
      <% end %>
    </div>
    </td>
  </tr>
</table>
</div>
<%= link_to('上一页', :offset => [@offset-10, 0].max) if @offset > 0 %>
<%= link_to('下一页', :offset => @offset+10) if @public_users.count > 10 %>
<% end %>
