<h2>搜索结果</h2>
<ul>
  <% for public_group in @public_groups %>
  <li>
    <%= link_to public_group.name, '/public/group/'+public_group.id.to_s %>
      <br/>近期活动:
      <% snapshot = @snapshots[public_group.id] %>
      <% if snapshot.nil? || snapshot.count == 0 %>
        接下来没有活动了
      <% else %>
        <% for instance in snapshot %>
        <%= friendly_time_range(instance.begin, instance.end) %>: <%= instance.name %>
        <br/>
        <% end %>
      <% end %>
      <hr/>
  </li>
  <% end %>
</ul>
<%= link_to('上一页', :offset => [@offset-10, 0].max) if @offset > 0 %>
<%= link_to('下一页', :offset => @offset+10) if @public_groups.count > 10 %>

