<html>
<body>
event.id: <%= @user_sharing.sharing.event.id %>
event.name: <%= @user_sharing.sharing.event.name %>
sharing.shared_from: <%= @user_sharing.sharing.shared_from %>
sharing.extra_info: <%= @user_sharing.sharing.extra_info %>
user.authentication_token: <%= @user.authentication_token %>
</body>
</html>
