<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<tr>
  <td><%= image_tag( ((@photo_url.nil? || @photo_url.blank?) ? 'default.jpg' : @photo_url), :onError => "this.src='/images/default.jpg';" ) %></td>
  <td>
    <dl>
      <dt>
        <% if @user.public? %>
          <%= link_to @name, '/public/user/'+@user.id.to_s %>
        <% else %>
          <%=@name%>
          <% unless (@renren_url.nil? || @renren_url.blank?) %>
            <%= link_to @renren_url, :target=>"_blank", :title=>"访问#{@name}的人人网个人主页" do %>
              <%= image_tag 'renren.png'%>
            <% end %>
            <% if @unconfirmed %>
              <% notice = '人人链接旁边的（？）表示同享日程显示的人人链接并没有得到其本人的确认，但是同享日程觉得这很有可能就是其本人的人人链接' %>
              <%= link_to '（?）', request.request_uri + (request.request_uri.include?('?') ? '&' : '?') + 'notice=' + notice, :title => notice %>
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        <% end %>
      </dt>
      <% if @department %>
      <dl><%= @department %></dl>
      <% end %>
    <% if @can_be_selected %>
      <dl>
      <%=  link_to "这是我的人人链接", url_for(:controller => :profile, :action => :select, :renren_url => @renren_url, :department => @department, :photo_url => @photo_url) %>
      </dl>
    <% elsif (@user.id != current_user.id) %>
      <% if @event %>
      <dl>
        <%= link_to '打个招呼，Hi~', url_for(:controller => :greeting, :action => :create, :target_user => @user.id, :event_id => @event.id) %>
      </dl>
      <% end %>
      <dl>
        <%= '你已申请加Ta为好友' if @friendship_to && !@friendship_from%>
        <%= link_to '查看该好友的更多信息', url_for(:controller => :profile, :action => :show, :target_user => @user.id) if @friendship_from && @friendship_to %>
        <%=  link_to "申请加为好友", url_for(:controller => :friendship, :action => :add_or_remove, :target_user => @user.id) if !@friendship_to && !@friendship_from%>
        <%=  link_to "同意Ta成为你的好友", url_for(:controller => :friendship, :action => :add_or_remove, :target_user => @user.id) if !@friendship_to && @friendship_from%>
      </dl>
      <% if @friendship_to %>
      <dl>
        <%=  link_to "删除好友", url_for(:controller => :friendship, :action => :add_or_remove, :target_user => @user.id)%>
      </dl>
      <% end %>
    <% end %>
    </dl>
  </td>
</tr>

