<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<li>
  <% if @user.public? %>
    <%= link_to @name, '/public/user/'+@user.id.to_s %>
  <% else %>
    <%=@name%>
  <% end %>
  <%= link_to "查看头像", @photo_url unless (@photo_url.nil? || @photo_url.blank?) %>
  <% unless (@renren_url.nil? || @renren_url.blank?) %>
    <%= link_to "人人主页", @renren_id ? generate_renren_url(@renren_id, true) : @renren_url, :target=>"_blank" %>
    <% if @unconfirmed %>
      <% notice = '人人链接旁边的（？）表示同享日程显示的人人链接并没有得到其本人的确认，但是同享日程觉得这很有可能就是其本人的人人链接' %>
      <%= link_to '（?）', request.request_uri + (request.request_uri.include?('?') ? '&' : '?') + 'notice=' + notice, :title => notice %>
    <% end %>
  <% end %>
  <% if @department %>
    <br/><%= @department %>
  <% end %>
  <% if @can_be_selected %>
    <br/><%=  link_to "这是我的人人链接", url_for(:controller => :profile, :action => :select, :renren_url => @renren_url, :department => @department, :photo_url => @photo_url) %>
    <% elsif (current_user && @user.id != current_user.id) %>
      <% if @event %>
      <br/>
        <%= link_to '打个招呼，Hi~', url_for(:controller => :greeting, :action => :create, :target_user => @user.id, :event_id => @event.id) %>
      <% end %>
      <br/>
        <%= '你已申请加Ta为好友' if @friendship_to && !@friendship_from%>
        <%= link_to '查看该好友的更多信息', url_for(:controller => :profile, :action => :show, :target_user => @user.id) if @friendship_from && @friendship_to %>
        <%=  link_to "申请加为好友", url_for(:controller => :friendship, :action => :add_or_remove, :target_user => @user.id) if !@friendship_to && !@friendship_from%>
        <%=  link_to "同意Ta成为你的好友", url_for(:controller => :friendship, :action => :add_or_remove, :target_user => @user.id) if !@friendship_to && @friendship_from%>
      <% if @friendship_to %>
      <br/>
          <%=  link_to "删除好友", url_for(:controller => :friendship, :action => :add_or_remove, :target_user => @user.id)%>
      <% end %>
    <% end %>
</li>

