<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<tr>
  <td><%= image_tag( ((@photo_url.nil? || @photo_url.blank?) ? 'default.jpg' : @photo_url), :onError => "this.src='/images/default.jpg';" ) %></td>
  <td>
    <dl>
      <dt>
        <%=@name%>
        <% unless (@renren_url.nil? || @renren_url.blank?) %>
          <%= link_to @renren_url, :target=>"_blank", :title=>"访问#{@name}的人人网个人主页" do %>
            <%= image_tag 'renren.png'%>
          <% end %>
          <% if @unconfirmed %>
            <% notice = '人人链接旁边的（？）表示同享日程显示的人人链接并没有得到其本人的确认，但是同享日程觉得这很有可能就是其本人的人人链接' %>
            <%= link_to '（?）', request.request_uri + (request.request_uri.include?('?') ? '&' : '?') + 'notice=' + notice, :title => notice %>
          <% end %>
        <% else %>
          &nbsp;
        <% end %>
      </dt>
      <% if @department %>
      <dl><%= @department %></dl>
      <% end %>
    <% if @can_be_selected %>
      <dl>
      <%=  link_to "这是我的人人链接", url_for(:controller => :profile, :action => :select, :renren_url => @renren_url, :department => @department, :photo_url => @photo_url) %>
      </dl>
    <% end %>
    </dl>
  </td>
</tr>

