<% content_for :aside do %>
  <%= sidebar_announcement %>
<% end %>

<div id="welcome">
<strong>你好，<%= current_user.friendly_name %>！</strong>

<ul>
<% if current_user.greeting_from.count > 0 %>
<li>
  Hi~你收到了<%= link_to current_user.greeting_from.count.to_s, '/greeting/index' %> 个活动共同参与者的招呼，
  其中最近的一个是在<%= I18n.l(current_user.greeting_from.last.created_at, :format => :long) %>
</li>
<% end %>
<% if @num_friendship_from > 0 %>
<li>
  你有<%= link_to @num_friendship_bidirectional.to_s, url_for(:controller => :friendship, :action => :show, :type => :bidirectional) %>个好友。
    <% if @num_friendship_from-@num_friendship_bidirectional > 0 %>
    另有<%= link_to (@num_friendship_from-@num_friendship_bidirectional).to_s, url_for(:controller => :friendship, :action => :show, :type => :only_from) %>个人想加你为好友。
    <% end %>
</li>
  <% end %>

<% if @invited_user_sharings && @invited_user_sharings.count > 0 %>
<li><%= link_to sprintf("有%d个邀请正等待你的回复", @invited_user_sharings.count), '#invited_events' %></li>
<% end %>
</ul>

<%#*<div id="share_notice">%>
  <%#*<span>个被邀请的活动</span>%>
  <%#*<span><个被推荐的活动</span>%>
<%#*</div>%>
</div>

<%= header_announcement %>

<div class="agenda_list" id="my_events">
  <%= content_box "我的", "日程", false do %>
    
<%
  week_str = number_of_week_in_thu
  week_str = "，#{week_str}" unless week_str.blank?
%>
<div id="current_time">现在是<%= l Time.now, :format => :long %><%=week_str%>。</div>

    <div class="agenda_pannel">
      <ul>
        <li><%= link_to_unless (@range == :next && @offset == 0), "接下来", {:range => :next} %></li>
        | <li><%= link_to_unless_current "按天", {:range => :day, :offset => 0} %></li>
        | <li> <%= link_to_unless_current "按周", {:range => :week, :offset => 0} %></li>
      </ul>
    </div>
    <div id="agenda_list_content">
    <% @instances.each do |instance|%>
      <%= div_for(instance, :class => "item") do %>
        <div class="instance name">
          <%= link_to instance.name, event_path(instance.event, :inst => instance.id), :title => instance.extra_info%>
          <%= "（有报警！）" if instance.warning_count > 0%>
        </div>
        <div class="instance info">
          <span><%=instance.location%></span>
          <span>
            <%= friendly_time_range instance.begin, instance.end %>
          </span>
        </div>
        <div class="instance links">
          <%#*<span>%>
            <%#= link_to "分享", :controller => "sharings", :action => "new", :event_id => instance.event.id %>
          <%#*</span>%>

                
          <span>
            <% event = instance.event %>
            <%= link_to "编辑", edit_event_path(instance.event) if can? :edit, event %>
            <%= link_to "删除", event, :method => "delete",
                  :confirm => ("你确实要删除\"#{instance.name}\"吗？" + (event.recurring? ? "这是一个重复的事件，所有重复项都会被删除！" : "")) \
                  if can? :destroy, event
            %>
            <% acc = find_acceptance(event) %>
             <%= link_to "退出活动", {:controller => "acceptance", :action => "exit", :id => acc.id}, :confirm => "确实要退出该活动吗？" if can? :exit, acc%>
            <% if instance.user_checked_in?(current_user.id) %>
              <%=  link_to "取消报到", event_path(event, :inst => instance.id, :feedback => Feedback::CHECK_OUT) %>
            <% else %>
              <%=  link_to "报到", event_path(event, :inst => instance.id, :feedback => Feedback::CHECK_IN), :title => "报到指你到场参加了该活动，已经报到的人将不会收到报警邮件；同享日程只统计到场百分比，不会将具体报到信息透露给他人。" %>
            <% end %>
            <% if instance.warninged?(current_user.id) %>
              <%= link_to "取消报警", event_path(event, :inst => instance.id, :feedback => Feedback::DISABLE_WARNING) %>
            <% else %>
              <%= link_to "报警", event_path(event, :inst => instance.id, :feedback => Feedback::WARNING), :title => "点击报警可以提醒他人该节课有点名、小测。"%>
            <% end %>
            <%= link_to "分享", {:controller => "sharings", :action => "new", :event_id => event.id} if can? :share, event %>
          </span>
        </div>
      <% end %>
    <% end %>
    </div>
    <% if @range == :next %>
      <div>
        <% if @offset == 0 %>
          以上是即将发生的前<%=@limit%>个活动
        <% else %>
          以上是即将发生的第<%=@offset + 1%>个到<%=@offset + @limit%>个活动。
        <% end %>
        <%= link_to "之前的活动", {:offset => [0, @offset - 10].max} if @offset > 0 %>
        <%= link_to "之后的活动", {:offset => @offset + 10} if !@is_last_page %>
      </div>
    <% end %>
    <% unit = params[:range] == "day" ? '天' : params[:range] == "week" ? '周' : nil %>
    <% if unit %>
    <div class="agenda_pannel">
      <ul>
        <li><%= link_to "前一"+unit, {:range => params[:range], :offset => params[:offset].to_i-1} %></li>
        | <li> <%= link_to "下一"+unit, {:range => params[:range], :offset => params[:offset].to_i+1} %></li>
      </ul>
    </div>
    <% end %>
    <br/>
    <%= styled_button '新建活动', new_event_path(:offset => params[:offset], :range => params[:range])%>

    <br/>

    <% if !@not_confirmed %>
        <%=  link_to "重新导入课表", @auth_path %>
        &nbsp;&nbsp;
    <% end %>

    <%= link_to "通过课表文件导入课表", {:controller=>"curriculum", :action=>"upload"}%>

  <%end%>
</div>

<% if !@invited_user_sharings.nil? && !@invited_user_sharings.empty? %>
  <div class="agenda_list" id="invited_events">
    <a name="invited"/>
    <%= content_box "邀请你", "参加", true do %>
      <% @invited_user_sharings.each do |user_sharing|%>
        <% sharing = user_sharing.sharing %>
        <%= div_for(sharing, :class => "item") do %>
          <div class="sharing name">
            <%= link_to sharing.event.name, event_path(sharing.event), :title => sharing.extra_info%>
          </div>
          <div class="sharing info">
            <span><%sharing.event.location%></span>
            <span>
              <%= friendly_time_range sharing.event.begin, sharing.event.end %>
            </span>
            <span>
              来自
              <%= sharing.user.friendly_name  %>
            </span>
          </div>
          <div class="sharing links">
            <span>
              <%= link_to "接受", {:controller => "acceptance", :action => "accept", :id => sharing.id} %>
              <%= link_to "拒绝", {:controller => "acceptance", :action => "deny", :id => sharing.id}%>
            </span>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
<%#*<div class="agenda_list" id="recommended_events">%>
  <%#*<fieldset>%>
    <%#*<legend>推荐给你的活动</legend>%>
  <%#*</fieldset>%>
<%#*</div>%>



