<div id="welcome">
<strong>你好，<%= current_user.friendly_name %>！</strong>

<%
  week_str = number_of_week_in_thu
  week_str = "，#{week_str}" unless week_str.blank?
%>
<div id="current_time">现在是<%= l Time.now, :format => :long %><%=week_str%>。</div>

<% if @not_confirmed %>
<div>
  <span class="stressed">注意！</span>
    系统未能验证你的学号，请立即
    <strong><%= link_to "重新验证", @auth_path%></strong><br/>
    如果学号未通过验证，系统将无法导入你的课表，并且其它用户可以在注册时<strong>覆盖该学号，从而导致你的</strong>
    <span class="stressed">同享日程账户丢失！</span>
</div>
<% end %>

<%#*<div id="share_notice">%>
  <%#*<span>个被邀请的活动</span>%>
  <%#*<span><个被推荐的活动</span>%>
<%#*</div>%>
</div>

<div class="agenda_list" id="my_events">
  <%= content_box "我的", "日程", false do %>
    
    <div class="agenda_pannel">
      <ul>
        <li><%= link_to_unless_current "接下来", {:range => :next} %></li>
        <li><%= link_to_unless_current "今天", {:range => :day, :offset => 0} %></li>
        <li><%= link_to_unless_current "明天", {:range => :day, :offset => 1} %></li>
        <li> <%= link_to_unless_current "本周", {:range => :week, :offset => 0} %></li>
        <li><%= link_to_unless_current "下周", {:range => :week, :offset => 1} %></li>
      </ul>
    </div>
    <div id="agenda_list_content">
    <% @instances.each do |instance|%>
      <%= div_for(instance, :class => "item") do %>
        <div class="instance name">
          <%= link_to instance.name, event_path(instance.event, :inst => instance.id), :title => instance.extra_info%>
        </div>
        <div class="instance info">
          <span><%=instance.location%></span>
          <span>
            <%= friendly_time_range instance.begin, instance.end %>
          </span>
        </div>
        <div class="instance links">
          <%#*<span>%>
            <%#= link_to "分享", :controller => "sharings", :action => "new", :event_id => instance.event.id %>
          <%#*</span>%>

                
          <span>
            <%= link_to "编辑", edit_event_path(@event) if can? :edit, @event %>
            <%= link_to "删除", instance.event, :method => "delete",
                  :confirm => ("你确实要删除\"#{instance.name}\"吗？" + (instance.event.recurring? ? "这是一个重复的事件，所有重复项都会被删除！" : "")) \
                  if can? :destroy, instance.event
            %>
            <% acc = find_acceptance(instance.event) %>
             <%= link_to "退出活动", {:controller => "acceptance", :action => "deny", :id => acc.id}, :confirm => "确实要退出该活动吗？" if can? :deny, acc%>
          </span>
        </div>
      <% end %>
    <% end %>
    </div>
    <% if params[:range] == "next" %>
      <div>以上是即将发生的前<%=params[:limit]%>个活动</div>
    <% end %>
    <br/>
    <%= styled_button '新建活动', new_event_path(:offset => params[:offset], :range => params[:range])%>

    <br/>
    <% if !@not_confirmed %>
      <div><%=  link_to "重新导入课表", @auth_path %></div>
    <% end %>

  <%end%>
</div>

<% if !@invited_user_sharings.nil? && !@invited_user_sharings.empty? %>
  <div class="agenda_list" id="invited_events">
    <a name="invited"/>
    <%= content_box "邀请你", "参加", true do %>
      <% @invited_user_sharings.each do |user_sharing|%>
        <% sharing = user_sharing.sharing %>
        <%= div_for(sharing, :class => "item") do %>
          <div class="sharing name">
            <%= link_to sharing.event.name, sharing.event, :title => sharing.extra_info%>
          </div>
          <div class="sharing info">
            <span><%sharing.event.location%></span>
            <span>
              <%= friendly_time_range sharing.event.begin, sharing.event.end %>
            </span>
          </div>
          <div class="sharing links">
            <span>
              <%= link_to "接受" %>
              <%= link_to "拒绝" %>
            </span>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
<%#*<div class="agenda_list" id="recommended_events">%>
  <%#*<fieldset>%>
    <%#*<legend>推荐给你的活动</legend>%>
  <%#*</fieldset>%>
<%#*</div>%>



