<h2><%= @event.name %></h2>

<% if @event.recurring? %>
  <% if @instance.nil? %>
    <%= friendly_time_range @event.begin, @event.end %>
  <% else %>
    <%= friendly_time_range @instance.begin, @instance.end  %>
  <% end %>
  <br/>
  重复：
  <%= "从#{l @event.begin, :format => :date_only}开始，" unless (@instance.nil? || @event.begin == @instance.begin) %>
  <%=  show_friendly_rrule(@event) %>
<% else %>
  <%= friendly_time_range @event.begin, @event.end %>
<% end %>
<br/>

<%if !@event.location.blank?%>
地点：<%= @event.location %><br/>
<%end%>


<p><%= @event.extra_info %></p>

<hr/>

<% if !(attendees = get_attendees(@event)).empty? %>
<p>活动参与者：<br/>
  <ul>
    <% attendees.each do |att| %>
      <li>
        <%=att.friendly_name%>
        <% if (!att.user_extra.nil? && !att.user_extra.renren_url.blank?) %>
          <%= link_to "人人主页", generate_renren_url(att.user_extra.renren_id, true), :target=>"_blank" %>
        <%end%>
      </li>
    <% end %>
  </ul>
  （仅显示已注册用户）
</p>
<% end %>