<%= form_for("user", :url => user_session_path) do |f| %>
<table>
  <tr>
    <td>
     <%#= login_type_selector UserIdentifier::TYPE_EMPLOYEE_NO, true %>
     <%#= login_type_selector UserIdentifier::TYPE_EMAIL %>
     <%#= login_type_selector UserIdentifier::TYPE_MOBILE %>
      学号&nbsp;&nbsp;
      <input type="hidden" name="login_type" value="employee_no"/>
    </td>
    <td>
      <%= text_field_tag :login_value, params[:login_value], :max_length => UserIdentifier::MAX_VALUE_LENGTH %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :password, '密码' %></td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <%# if devise_mapping.rememberable? -%>
        <p><%= f.check_box :remember_me %> <%= f.label :remember_me, '记住我' %></p>
      <%# end -%>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%= f.submit "登录" %></td>
  </tr>
</table>
<% end %>