<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <meta name="format-detection" content="telephone=no"/>
  <%#*<link rel="apple-touch-icon" href="http://wap.baidu.com/r/wise/wapsearchindex/favicon-57.png"/>%>
  <title>同享日程<%= "-#{@title}" if defined? @title%></title>
</head>
<body>
  <h1><center>同享日程</center></h1>
  <center>
  <form name="search_box" action="/search/box">
    <input type="text" name="keyword" id="keyword"></input>
    <input type="submit" value="搜索" id="search_button" title='输入姓名查找用户；输入地点查找该地点的日程；输入公共用户查看其日程；输入共群群组名查看公共群组的日程'></input>
  </form>
  </center>
  <% if alert %>
    <p><%= alert %></p>
  <% end %>
  <% if notice %>
    <p><%= notice %></p>
  <% end %>
  <% if flash[:bookmark_notice] %>
    <p><%= flash[:bookmark_notice] %></p>
  <% end %>
  <%= yield %>
  <p>
    
      <%=link_to "首页", :controller => "events", :range => :next %>&nbsp;&nbsp;
    <% if user_signed_in? %>
      <%=link_to "个人资料", edit_user_registration_path %>&nbsp;&nbsp;
      <%=link_to "注销", destroy_user_session_path %>&nbsp;&nbsp;
    <% end %>
      <%=link_to "意见反馈", "http://blog.tongshare.com/feedback" %>&nbsp;&nbsp;
  </p>
</body>
</html>